body{
	padding-left:5%;
	padding-right: 5%;
}
table{
	width: 100%;
	margin-top: 10%;

}
td{
	padding: 12px;
	border: 1px solid #F0F8FF;
}
td:not(:first-child) {
	width: 20%;
}

thead{
	font-size: 18px;
}
